{% extends 'base.html' %}
{% block title%} Services  {%endblock title%}

{%block body%}

<h1 class="text-center"> <i>Purchase any ice-cream & get 2 ice-cream free discount </i></h1>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">

           <img src="/static/img/1.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
              <p class="card-text"><b>Vanila Ice Cream</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/2.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">

              <p class="card-text"><b>Chocolate-with Strawberry Ice Cream</b></p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/3.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">

               <p class="card-text"><b>Strawberry Ice Cream</b></p>

              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">

           <img src="/static/img/4.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
               <p class="card-text"><b>Vadilal Ice Cream</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        

        
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/5.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
               <p class="card-text"><b>Matcha Ice Cream</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

           <img src="/static/img/6.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
               <p class="card-text"><b>Eggnog Ice Cream</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}


