{% extends 'base.html' %}
{% block title%} Home  {%endblock title%}

{%block body%}

<div class="container-fluid ">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
          
            <img src="/static/img/1.jpg" Height="700px" width="50%" class="d-block w-100" alt="...">

           <div class="carousel-caption d-none d-md-block"> 
           
          <i> <h1 style="color:black;">Welcome to The Best ice-cream of Premnagar </h1> </i>
           <b><h2 style="color:black;" > I want to ice-cream & i want it NOW </h2></b>
           

           </div>

          </div>
          <div class="carousel-item">
            <img src="/static/img/2.jpg" Height="700px" width="500" class="d-block w-100" alt="...">

             <div class="carousel-caption d-none d-md-block"> 
           
           <h1 style="color:black;"> <i>Best ice-cream Ever in Ahemedabad!!</i> </h1>
        
           
           </div>

          </div>
          <div class="carousel-item">
            <img src="/static/img/3.jpg" Height="700px" width="50%" class="d-block w-100" alt="...">

            <div class="carousel-caption d-none d-md-block"> 
           
           <h1 style="color:White;"><i>Brighten Up Your Day With an Ice Cream.</i> </h1>
        
           
           </div>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

  <!--new container-->


    <div class="container my-3">
    <h1 class="my-4 text-center">SELECT FROM THE RANGE OF OUR ICE-CREAMS</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/img/3.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/4.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/2.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/5.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
             
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

           <img src="/static/img/6.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">
            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/7.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/1.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">
            <div class="card-body">
             
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/9.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
             
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">

            <img src="/static/img/10.jpg" Height="300px" width="300px" class="d-block w-100" alt="...">

            <div class="card-body">
              
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}